<!-- Modal -->

<div #dialog class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title" id="myModalLabel">{{ (lastError | async)?.message }} <span class="badge">{{(lastError | async)?.name}}</span></h4>
      </div>
      <div class="modal-body">
          <div  [innerHTML]="(lastError | async)?.stacktrace"></div>
          <hr />
          <div  [innerHTML]="(lastError | async)?.error?.constructor"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onDismiss()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="onRefresh()" >Refresh</button>
      </div>
    </div>
  </div>
</div>