<br />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <notification-list></notification-list>
        </div>
        <div class="col-md-4">
            <todoList [items]="todos | async" (itemRemoved)="remove($event)"></todoList>
            <button class="btn btn-md btn-default" (click)="openDialog()">Add</button>
            <button class="btn btn-md btn-danger" (click)="triggerError1()">Trigger Error 1</button>
            <button class="btn btn-md btn-danger" (click)="triggerError2()">Trigger Error 2</button>
            <br />
            <br />

            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">Actions
                     <item-count path="actions.length"></item-count>
                </div>
                <div class="panel-body">
                    <p>A log history of all actions</p>
                </div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let action of actions | async"> {{ action[0].type }}
                        <!--<span class="label label-primary pull-right">{{action[2]}}</span>-->
                        <span class="pull-right">&nbsp;</span>
                        <span [ngClass]="{'label-danger': action[1] === 'effects', 'label-success': action[1] !== 'effects' }" class="label pull-right">{{action[1]}}</span>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Todo State
                            <item-count path="todos.length"></item-count>
                        </h4>
                    </div>
                </div>
            </div>
            <pre>{{ (todos | async) | json }}
            </pre>
            <br />
            <div class="panel-group">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Notifications State
                            <item-count path="notifications.notifications.length"></item-count>
                        </h4>
                    </div>
                </div>
            </div>
            <pre>{{ (notifications | async) | json }}
            </pre>
            <br />

            <div class="panel-group">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Errors State
                            <item-count path="errors.errors.length"></item-count>

                        </h4>
                    </div>
                </div>
            </div>
            <pre>{{ (errors | async) | json }}
            </pre>

        </div>
    </div>
</div>

<add-todo #dialog (onAdd)="add($event)"></add-todo>