<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-success" *ngFor="let item of items | async; let i = index">
    <div class="panel-heading" role="tab" id="headingOne{{item.id}}">
      <h4 class="panel-title">
        <a [ngClass]="{collapsed: i > 0 }" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{item.id}}" aria-expanded="false" [attr.aria-controls]="'collapseOne' + item.id">
            {{ item.title }} <span [ngClass]="getClass(item.category)"  class="label pull-right">{{getNotificationText(item.category)}}</span>
        </a>
      </h4>
    </div>
    <div [ngClass]="{in: i == 0 }" id="collapseOne{{item.id}}" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'headingOne' + item.id">
      <div class="panel-body">
        <div class="table">
            <div class="row">
                <div class="col-xs-3 text-right"><b>Date</b></div>
                <div class="col-xs-9">{{ item.date }}</div>
            </div>
            <div class="row">
                <hr />
            </div>
            <div class="row">
                <div class="col-xs-3 text-right"><b>Description</b></div>
                <div class="col-xs-9" style="overflow-x:auto" [innerHTML]="item.description"></div>
            </div>
        </div> 
      </div>
    </div>
  </div>
</div>



